<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>당신의 정보</h1>
    <div>당신의 이름은 <%= userInfo.name %>이고 성별은 <%= userInfo.gender %> 입니다.</div>
    <div>당신의 생년월일은 <%= userInfo.year %>년 <%= userInfo.month %>월 <%= userInfo.day %>입니다.</div>
    <div><span><%= userInfo.hobby %></span>이 취미입니다.</div>
  </body>
</html>
